<!--program to display spotify page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Playlist Generator</title>
      <script>
          function playlist_act(){
              document.getElementById("test_actual").innerHTML = table2;
          }
      </script>
</head>
<body>
<!-- Main form starts here-->
    <h2>Create a randomized playlist by selecting a genre and entering a duration of time.</h2>

    <!--  <form action="/action_page.php"> -->
<script language="JavaScript">
    function showInput() {
        document.getElementById('display').innerHTML = document.getElementById("genres").value;
    }
  </script>

<!--<form action="result_spotify.html" method="GET">-->
<form action="" method="POST">
<!-- Dropdown menu for selecting playlist genre-->
  <label for="genres">Select a genre:</label>
  <!--<select name="genres" id="genres" required>
    <option value="edm">EDM</option>
    <option value="jazz">Jazz</option>
    <option value="rock">Rock</option>
    <option value="soul">Soul</option>
  </select> -->
    <p>
  <select name ="genres" id="selectNumber" required>
    <script>
        var select = document.getElementById("selectNumber");
        var options = {{ l_genres | safe }};
        for(var i = 0; i < options.length; i++) {
            var opt = options[i];
            var el = document.createElement("option");
            el.textContent = opt;
            el.value = opt;
            select.appendChild(el);
        }
    </script>
  </select>
    </p>
  <!-- Textbox for entering playlist duration -->
    <p>
        <label for="quantity">Playlist Duration (at least 5 minutes):</label>
        <input type="number" id="quantity" name="quantity" min="5" required>
    </p>

    <p>
        <input type="submit" value="Submit" onclick="playlist_act()">
    </p>


</form>
<div>
<br><br>
<p id="test_actual">
    <script>
        var tra = {{ ch | safe }};
        console.log(tra);
        var len2 =  Object.keys(tra.album).length;  //Object.keys(tra).length;
        console.log(len2);
        var table2 = "<table border='2'>";
        table2 += "<tr><th>Track</th><th>Artist</th><th>Album</th></tr>";

        for (var i = 0; i < len2; i++) {
            table2 += "<tr><td>" + tra.track[i] + "</td>";
            table2 += "<td>" + tra.artist[i] + "</td>";
            table2 += "<td>" + tra.album[i] + "</td></tr>";
        }
        table2 += "</table>";
        playlist_act();

    </script>
</p>
</div>


<!--test request
<p id="nope">
    <script>
        var noo = {{ time | safe }};
        document.getElementById("test_actual").innerHTML = noo;
    </script>
</p>

<br><br>
<div class="testing_json">
<p id="try">
    <script>
        var txt = '{"name": ["Kiko", "Yui", "Ian", "Terra"], "physics": [68, 74, 77, 78], "chemistry": [84, 56, 73, 69],"algebra": [78, 88, 82, 87]}';
        var obj = JSON.parse(txt);
        //document.getElementById("try").innerHTML = obj.name[0]; // obj.name[0];

        var i;
        var text = "";
        for(i = 0; i < obj.name.length; i++){
            text += obj.name[i] + "<br>";
        }
        //document.getElementById("try").innerHTML = text;
    </script>
</p>
</div>
-->
<!--<th>Artist</th><th>Album</th>
<h2>Test JSON here:</h2>
<p id="test">
    <script>
        var act = ;
        var len = Object.keys(act).length;
        var table = "<table border='4'>";
        table += "<tr><th>Track</th><th>Artist</th><th>Album</th></tr>";

        for (var i = 0; i < len; i++) {
            table += "<tr><td>" + act.name[i] + "</td>";
            table += "<td>" + act.physics[i] + "</td>";
            table += "<td>" + act.chemistry[i] + "</td></tr>";
        }
        table += "</table>";
        document.getElementById("test").innerHTML = table;
    </script>
</p>
-->
<!--Test out the button with table here -->

<!--
<h2>Test JSON here:</h2>

<button onclick="playlist()">Reveal Playlist!</button>
<p id="test2">
    <script>
        var act = {{ tj | safe }};
        var len = Object.keys(act).length;
        var table = "<table border='4'>";
        table += "<tr><th>Track</th><th>Artist</th><th>Album</th></tr>";

        for (var i = 0; i < len; i++) {
            table += "<tr><td>" + act.track[i] + "</td>";
            table += "<td>" + act.artist[i] + "</td>";
            table += "<td>" + act.album[i] + "</td></tr>";
        }
        table += "</table>";
        function playlist(){
              document.getElementById("test2").innerHTML = table;
        }
    </script>
</p>

-->


<!-- <button onclick="myFunction()">Click me - Hello World!</button> -->

<!--Remember to include div id "demo" in order for function to be performed after button is clicked.-->

<!--test for hello world button - remove later.-->
<!--
<div id="button"></div>

<script>
function myFunction() {
    document.getElementById("button").innerHTML = "Hello World";
}
</script>

<br> <br>

 -->
<!-- Test button for fetching date - delete later-->

<!--
<button onclick="getElementById('button').innerHTML=Date()">What is the current date and time?</button>

<br> <br>
-->
<!-- Based on parameters - use methods from python file to fetch the song data
1. Take the parameters from HTML user entries (playlist duration + genre)
2. Call methods from the python/spotipy documentation
which can take parameters (eg. genre recommendation)
3. Parse the JSON file that is returned - JSON.parse(name of file)
4. Create the chart - parse the song name, arist, album, song duration - place into chart
(How is the output parsed tho??)
-->
</body>
</html>